{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
        "plugin:@shopify/esnext"
    ],
    "env": {
        "node": true
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".ts"]
          }
        }
    },
    "rules": {
        "no-console": 0,
        "indent": ["error", 4],
        "indent-legacy": 0,
        "id-length": 0,
        "babel/object-curly-spacing": 0,
        "no-mixed-operators": 0,
    }, 
  }